body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

input,
textarea {
  border: none;
  outline: none;
}
